{% extends "base.html" %}
{% block head_title %}Welcome || {{ block.super}}{% endblock head_title %}
{% block content %}


<h1>hello world!</h1>
<h3>{{block.super}}</h3>
<p>this is <code>{% verbatim %} {{html_var}}{% endverbatim %} </code> coming through</p>

{% if num is not None %}
<p>Random number is {{ num }}</p>
{% endif %}

{% for some_item in some_list %}
{% if some_item|divisibleby:"2" %}
Even number
{% endif %}

{{ some_item }}<br />
{% endfor %}

<p>Some item is {{ some_item }}</p>
{% endblock content %}
